<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드인 - 소개</title>
    <link rel="stylesheet" th:href="@{/css/introduce/introduce.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/introduce/introduce.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<script th:inline="javascript">

</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<div class="introduce-wrap">
    <div class="introduce-profile-wrap">
        <div class="profile-div">
            <img th:src="@{/profile/image (email=${email})}">
        </div>
        <div class="nickname-div">
            <span th:text="${nickname}"></span>
        </div>
        <input type="button" class="conversation-button" value="문의하기">
    </div>
    <div class="introduce-main-wrap">
        <div class="introduce-tap">
            <span class="introduce-tap-list active">소개</span>
            <span class="introduce-tap-list">포트폴리오</span>
            <span class="introduce-tap-list">리뷰</span>
            <span class="introduce-tap-list">광고매체</span>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>