<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adin.admin.mapper.AdminMapper">
    <select id="getMediaSubmitList" resultType="com.adin.media.entity.MediaRegisterEntity">
        SELECT
            media_order as mediaOrder
            ,email as email
            ,media_title as mediaTitle
            ,media_submit_status as mediaSubmitStatus
            ,submit_dt as submitDt
        FROM adin_media_register
        WHERE 1=1
        AND media_submit_status = "I"
        ORDER BY submit_dt
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <select id="getMediaSubmitListCnt" resultType="com.adin.media.vo.MediaRegisterVO">
        SELECT
            COUNT(*) AS cnt
        FROM adin_media_register
        WHERE 1=1
          AND media_submit_status = "I"
    </select>

    <select id="getMediaSubmitDetail" resultType="com.adin.media.vo.MediaRegisterVO">
        SELECT
            T1.media_order as mediaOrder
             ,T1.email as email
             ,T1.ad_detail_category as adDetailCategory
             ,T1.media_title as mediaTitle
             ,T1.media_summary as mediaSummary
             ,T1.media_detail_explain as mediaDetailExplain
             ,T1.thumbnail_img_nm as thumbnailImgNm
             ,T1.thumbnail_origin_file_nm as thumbnailOriginFileNm
             ,T1.thumbnail_img_file_path as thumbnailImgFilePath
             ,T1.media_price as mediaPrice
             ,T1.media_submit_status as mediaSubmitStatus
             ,T1.create_dt as createDt
             ,T1.modify_dt as modifyDt
             ,T1.submit_dt as submitDt
             ,T2.nickname AS nickname
             ,T3.media_introduce AS mediaIntroduce
             ,T3.region AS region
             ,T3.ad_category AS adCategory
             ,T3.media_url AS mediaUrl
        FROM adin_media_register T1
        LEFT JOIN adin_user T2 ON T1.email = T2.email
        LEFT JOIN adin_media_introduce T3 ON T1.email = T3.email
        WHERE 1=1
        AND media_order = #{mediaOrder}
    </select>

    <update id="judgeComplete" parameterType="com.adin.media.entity.MediaIntroduceEntity">
        UPDATE
            adin_media_register
        SET media_detail_explain = #{mediaDetailExplain}
          ,media_submit_status = #{mediaSubmitStatus}
        WHERE 1=1
          AND media_order = #{mediaOrder}
    </update>

    <select id="submitThumbnailImage" resultType="com.adin.media.entity.MediaRegisterEntity">
        SELECT
            thumbnail_img_nm AS thumbnailImgNm
             ,thumbnail_origin_file_nm AS thumbnailOriginFileNm
             ,thumbnail_img_file_path AS thumbnailImgFilePath
        FROM adin_media_register
        WHERE 1=1
        AND media_order = #{mediaOrder}
    </select>

    <select id="getMediaUserListCnt" resultType="com.adin.join.vo.JoinVO">
        SELECT
            COUNT(*) AS count
        FROM adin_user
        WHERE 1=1
        AND user_type = "media"
        <if test="marketingYn != null and marketingYn != ''">
            AND marketing_yn = #{marketingYn}
        </if>
        <if test="certifiedYn != null and certifiedYn != ''">
            AND certified_yn = #{certifiedYn}
        </if>
        <if test="useYn != null and useYn != ''">
            AND use_yn = #{useYn}
        </if>
    </select>

    <select id="getMediaUserList" resultType="com.adin.join.entity.JoinEntity">
        SELECT
            email AS email
            ,nickname AS nickname
            ,marketing_yn AS marketingYn
            ,use_yn AS useYn
            ,certified_yn AS certifiedYn
            ,create_dt AS createDt
        FROM adin_user
        WHERE 1=1
        AND user_type = "media"
        <if test="marketingYn != null and marketingYn != ''">
            AND marketing_yn = #{marketingYn}
        </if>
        <if test="certifiedYn != null and certifiedYn != ''">
            AND certified_yn = #{certifiedYn}
        </if>
        <if test="useYn != null and useYn != ''">
            AND use_yn = #{useYn}
        </if>
        ORDER BY create_dt
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <select id="getAdvertiserUserListCnt" resultType="com.adin.join.vo.JoinVO">
        SELECT
            COUNT(*) AS count
        FROM adin_user
        WHERE 1=1
        AND user_type = "advertiser"
        <if test="marketingYn != null and marketingYn != ''">
            AND marketing_yn = #{marketingYn}
        </if>
        <if test="certifiedYn != null and certifiedYn != ''">
            AND certified_yn = #{certifiedYn}
        </if>
        <if test="useYn != null and useYn != ''">
            AND use_yn = #{useYn}
        </if>
    </select>

    <select id="getAdvertiserUserList" resultType="com.adin.join.entity.JoinEntity">
        SELECT
            email AS email
             ,nickname AS nickname
             ,marketing_yn AS marketingYn
             ,use_yn AS useYn
             ,certified_yn AS certifiedYn
             ,create_dt AS createDt
        FROM adin_user
        WHERE 1=1
        AND user_type = "advertiser"
        <if test="marketingYn != null and marketingYn != ''">
            AND marketing_yn = #{marketingYn}
        </if>
        <if test="certifiedYn != null and certifiedYn != ''">
            AND certified_yn = #{certifiedYn}
        </if>
        <if test="useYn != null and useYn != ''">
            AND use_yn = #{useYn}
        </if>
        ORDER BY create_dt
            LIMIT #{pageStart}, #{perPageNum}
    </select>
</mapper>