<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adin.media.mapper.MediaMapper">
    <insert id="insertMediaIntroduce" parameterType="com.adin.join.entity.JoinEntity">
        INSERT INTO adin_media_introduce
            (email)
        VALUES
            (#{email})
    </insert>

    <update id="mediaIntroduce" parameterType="com.adin.media.entity.MediaIntroduceEntity">
        UPDATE
            adin_media_introduce
        SET media_introduce = #{mediaIntroduce}
        ,region = #{region}
        ,ad_category = #{adCategory}
        ,media_url = #{mediaUrl}
        WHERE 1=1
          AND email = #{email}
    </update>

    <select id="getMediaIntroduce" resultType="com.adin.media.entity.MediaIntroduceEntity">
        SELECT
            media_introduce AS mediaIntroduce
            ,region AS region
            ,ad_category AS adCategory
            ,media_url AS mediaUrl
        FROM adin_media_introduce
        WHERE 1=1
          AND email = #{email}
    </select>
</mapper>