<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adin.media.mapper.MediaMapper">
    <insert id="insertMediaIntroduce" parameterType="com.adin.join.entity.JoinEntity">
        INSERT INTO adin_media_introduce
            (email)
        VALUES
            (#{email})
    </insert>

    <insert id="insertMediaRegister" parameterType="com.adin.join.entity.JoinEntity">
        INSERT INTO adin_media_register
            (email)
        VALUES
            (#{email})
    </insert>

    <update id="mediaIntroduce" parameterType="com.adin.media.entity.MediaIntroduceEntity">
        UPDATE
            adin_media_introduce
        SET media_introduce = #{mediaIntroduce}
        ,region = #{region}
        ,ad_category = #{adCategory}
        ,media_url = #{mediaUrl}
        WHERE 1=1
          AND email = #{email}
    </update>

    <select id="getMediaIntroduce" resultType="com.adin.media.entity.MediaIntroduceEntity">
        SELECT
            media_introduce AS mediaIntroduce
            ,region AS region
            ,ad_category AS adCategory
            ,media_url AS mediaUrl
        FROM adin_media_introduce
        WHERE 1=1
          AND email = #{email}
    </select>

    <select id="getMediaRegister" resultType="com.adin.media.entity.MediaRegisterEntity">
        SELECT
            media_order as mediaOrder
            ,ad_detail_category as adDetailCategory
            ,media_title as mediaTitle
            ,media_summary as mediaSummary
            ,media_detail_explain as mediaDetailExplain
            ,thumbnail_img_nm as thumbnailImgNm
            ,thumbnail_origin_file_nm as thumbnailOriginFileNm
            ,thumbnail_img_file_path as thumbnailImgFilePath
            ,media_price as mediaPrice
        FROM adin_media_register
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
              SELECT
                    MAX(media_order)
              FROM adin_media_register
              WHERE email = #{email}
          )
    </select>

    <update id="mediaRegister" parameterType="com.adin.media.entity.MediaIntroduceEntity">
        UPDATE
            adin_media_register
        SET ad_detail_category = #{adDetailCategory}
          ,media_title = #{mediaTitle}
          ,media_summary = #{mediaSummary}
          ,media_detail_explain = #{mediaDetailExplain}
          ,media_price = #{mediaPrice}
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
            SELECT
                max_media_order
            FROM
            (SELECT
                MAX(media_order) AS max_media_order
            FROM adin_media_register
            WHERE email = #{email}) AS sub
          )
    </update>
</mapper>