<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adin.portfolio.mapper.PortfolioMapper">
    <update id="portfolioRegister" parameterType="com.adin.portfolio.entity.PortfolioEntity">
        INSERT INTO adin_portfolio
            (email, portfolio_title, portfolio_ad_detail_category, portfolio_ad_category, portfolio_region, create_dt, modify_dt)
        VALUES
            (#{email}, #{portfolioTitle}, #{portfolioAdDetailCategory}, #{portfolioAdCategory}, #{portfolioRegion}, NOW(), NOW())
    </update>

    <update id="changeThumbnail" parameterType="com.adin.media.entity.MediaIntroduceEntity">
        UPDATE
            adin_media_register
        SET thumbnail_img_nm = #{thumbnailImgNm}
          ,thumbnail_origin_file_nm = #{thumbnailOriginFileNm}
          ,thumbnail_img_file_path = #{thumbnailImgFilePath}
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
            SELECT
                max_media_order
            FROM
                (SELECT
                     MAX(media_order) AS max_media_order
                 FROM adin_media_register
                 WHERE email = #{email}) AS sub
        )
    </update>
</mapper>