<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 소개</title>
    <link rel="stylesheet" th:href="@{/css/introduce/all_portfolio.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/introduce/all_portfolio.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
</head>
<body>
<script th:inline="javascript">

</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<input type="hidden" id="userOrder" th:value="${userOrder}">
<div class="introduce-wrap">
    <div class="introduce-profile-wrap">
        <div class="profile-div">
            <img th:src="@{/profile/image/{userOrder} (userOrder=${userOrder})}">
        </div>
        <div class="nickname-div">
            <span th:text="${nickname}"></span>
        </div>
        <div class="review-star">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <div class="review-count"> 5.0</div>
            <div class="review-user-count">(123)</div>
        </div>
        <input type="button" class="conversation-button" value="문의하기">
        <div class="introduce-sub-menu">
            <ul>
                <li id="introduceHome">
                    홈
                </li>
                <li style="font-weight: bolder">
                    포트폴리오
                </li>
            </ul>
        </div>
    </div>
    <div class="all-portfolio-main-wrap">
        <div class="all-portfolio-main-sub-wrap">
            <div class="all-portfolio-title">포트폴리오</div>
            <div class="portfolio-list-wrap">
                <div class="portfolio-list">
                    <div class="portfolio-card-wrap">
                        <div class="portfolio-card" th:each="portfolio : ${getPortfolio}" th:data-parent="${portfolio.getPortfolioOrder()}">
                            <div class="portfolio-thumbnail">
                                <img class="portfolio-thumbnail-img" th:src="@{/portfolio/thumbnail/image (mainImgNm=${portfolio.mainImgNm}, mainImgFilePath =${portfolio.mainImgFilePath})}">
                            </div>
                            <div class="portfolio-title" th:text="${portfolio.portfolioTitle}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="div-paging">
                <span th:if="${paging.totalCount > 0}">
                    <span th:if="${paging.cri.page > 1}"><a th:href="@{/introduce/all/portfolio/{userOrder}(userOrder=${userOrder}, page=${paging.cri.page - 1})}">이전페이지</a></span>
                    <span th:each="num : ${#numbers.sequence((paging.startPage), (paging.endPage))}" th:class="${num == paging.cri.page} ? 'current-page' : ''"><a th:text="${num}" th:href="@{/introduce/all/portfolio/{userOrder}(userOrder=${userOrder}, page=${num})}"></a></span>
                    <span th:if="${paging.cri.page < 1.0 * paging.totalCount / paging.cri.perPageNum}"><a th:href="@{/introduce/all/portfolio/{userOrder}(userOrder=${userOrder}, page=${paging.cri.page + 1})}">다음페이지</a></span>
                </span>
                <span th:unless="${paging.totalCount > 0}"></span>
            </div>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>