<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adgomin.chat.mapper.ChatMapper">
    <insert id="appConversationChatRoom" parameterType="com.adgomin.chat.entity.ChatRoomEntity" useGeneratedKeys="true"
            keyProperty="chatRoomOrder" keyColumn="chat_room_order">
        INSERT INTO adgomin_chat_room
            (sender_order, receiver_order, create_dt)
        VALUES
            (#{senderOrder}, #{receiverOrder}, NOW())
    </insert>

    <insert id="appConversationChatMessage" parameterType="com.adgomin.chat.entity.ChatMessageEntity">
        INSERT INTO adgomin_chat_message
            (chat_room_order, sender_order, receiver_order, message)
        VALUES
            (#{chatRoomOrder}, #{senderOrder}, #{receiverOrder}, #{message})
    </insert>
</mapper>