<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adgomin.manage.mapper.ManageMapper">
    <select id="allMediaRegister" resultType="com.adgomin.media.entity.MediaRegisterEntity">
        SELECT
            media_order AS mediaOrder
             ,media_title AS mediaTitle
             ,thumbnail_img_nm AS thumbnailImgNm
             ,thumbnail_origin_file_nm AS thumbnailOriginFileNm
             ,thumbnail_img_file_path AS thumbnailImgFilePath
             ,media_price AS mediaPrice
             ,media_submit_status AS mediaSubmitStatus
             ,modify_dt AS modifyDt
        FROM adgomin_media_register
        WHERE 1=1
        AND email = #{email}
        AND media_submit_status in ('T', 'I', 'C', 'Y')
        ORDER BY media_order DESC
    </select>

    <select id="mediaOrderEmail" resultType="com.adgomin.media.vo.MediaRegisterVO">
        SELECT
            COUNT(*) AS cnt
        FROM adgomin_media_register
        WHERE 1=1
        AND email = #{email}
        AND media_order = #{mediaOrder}
    </select>

    <select id="mediaRegisterEntity" resultType="com.adgomin.media.entity.MediaRegisterEntity">
        SELECT
            media_order as mediaOrder
             ,ad_detail_category as adDetailCategory
             ,media_title as mediaTitle
             ,media_summary as mediaSummary
             ,media_detail_explain as mediaDetailExplain
             ,thumbnail_img_nm as thumbnailImgNm
             ,thumbnail_origin_file_nm as thumbnailOriginFileNm
             ,thumbnail_img_file_path as thumbnailImgFilePath
             ,media_price as mediaPrice
             ,media_submit_status as mediaSubmitStatus
        FROM adgomin_media_register
        WHERE 1=1
        AND media_order = #{mediaOrder}
    </select>

    <update id="manageMediaUpdate" parameterType="com.adgomin.media.entity.MediaIntroduceEntity">
        UPDATE
            adgomin_media_register
        SET
            media_summary = #{mediaSummary}
            ,media_detail_explain = #{mediaDetailExplain}
            ,media_price = #{mediaPrice}
            ,modify_dt = now()
        WHERE 1=1
        AND media_order = #{mediaOrder}
    </update>

    <update id="manageMediaChangeThumbnail" parameterType="com.adgomin.media.entity.MediaIntroduceEntity">
        UPDATE
            adgomin_media_register
        SET thumbnail_img_nm = #{thumbnailImgNm}
          ,thumbnail_origin_file_nm = #{thumbnailOriginFileNm}
          ,thumbnail_img_file_path = #{thumbnailImgFilePath}
        WHERE 1=1
        AND media_order = #{mediaOrder}
    </update>
</mapper>