<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adgomin.media.mapper.MediaMapper">
    <insert id="insertMediaIntroduce" parameterType="com.adgomin.join.entity.JoinEntity">
        INSERT INTO adgomin_media_introduce
            (email, create_dt, modify_dt)
        VALUES
            (#{email}, NOW(), NOW())
    </insert>

    <insert id="insertMediaRegister" parameterType="com.adgomin.join.entity.JoinEntity">
        INSERT INTO adgomin_media_register
            (email, media_detail_explain, media_price, create_dt, modify_dt)
        VALUES
            (#{email}, '<![CDATA[<h1>광고매체 적합한 광고 🔈</h1>
        <h3> </h3>
        <span>광고매체에 어울리는 광고들을 기재해주세요.</span><h3> </h3>
        <ul>
            <li>병원 광고</li>
            <li>제품 광고</li>
            <li>음식점 광고</li>
        </ul>
        <h3> </h3>
        <s style="color: #e9ecef;">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </s>
        <h3> </h3>
        <h3> </h3>
        <h1>광고매체 소개 💬</h1>
        <h3> </h3>
        <h2>이력 ✅</h2>
        <h3> </h3>
        <span>광고매체 카테고리와 관련이 있는 이력을 적어주세요.</span><h3> </h3>
        <span>광고주들은 이력을 보고 광고매체에 신뢰를 가집니다.</span><h3> </h3>
        <ul>
            <li>이력사항 기재</li>
        </ul>
        <h3> </h3>
        <h3> </h3>
        <h2>실제 광고 이미지 🌄</h2>
        <h3> </h3>
        <span>지금까지 광고를 했던 사진들을 올려주세요.</span><h3> </h3>
        <span>광고주들은 사진을 보고 어떻게 광고가 되는지 확인할 수 있습니다.</span><h3> </h3>
        <span>최대 3개가 적당하며 다른 사진은 포트폴리오에 올리실 수 있습니다.</span><h3> </h3>
        <img src="http://localhost:8080/images/media-register-image-guide.png">
        <h3> </h3>
        <h3> </h3>
        <h2>대표 광고 동영상 🎞️</h2>
        <h3> </h3>
        <span>광고를 진행했던 대표 동영상 하나를 올려주세요.</span><h3> </h3>
        <span>동영상이 없는 광고매체는 생략을 하셔도 됩니다.</span><h3> </h3>
        <img src="http://localhost:8080/images/media-register-video-guide.png">]]>', 0, now(), now())
    </insert>

    <update id="mediaIntroduce" parameterType="com.adgomin.media.entity.MediaIntroduceEntity">
        UPDATE
            adgomin_media_introduce
        SET media_introduce = #{mediaIntroduce}
        ,region = #{region}
        ,ad_category = #{adCategory}
        ,media_url = #{mediaUrl}
        ,modify_dt = NOW()
        WHERE 1=1
          AND email = #{email}
    </update>

    <select id="getMediaIntroduce" resultType="com.adgomin.media.entity.MediaIntroduceEntity">
        SELECT
            media_introduce AS mediaIntroduce
            ,region AS region
            ,ad_category AS adCategory
            ,media_url AS mediaUrl
        FROM adgomin_media_introduce
        WHERE 1=1
          AND email = #{email}
    </select>

    <select id="getMediaRegister" resultType="com.adgomin.media.entity.MediaRegisterEntity">
        SELECT
            media_order as mediaOrder
            ,ad_detail_category as adDetailCategory
            ,media_title as mediaTitle
            ,media_summary as mediaSummary
            ,media_detail_explain as mediaDetailExplain
            ,thumbnail_img_nm as thumbnailImgNm
            ,thumbnail_origin_file_nm as thumbnailOriginFileNm
            ,thumbnail_img_file_path as thumbnailImgFilePath
            ,media_price as mediaPrice
            ,media_submit_status as mediaSubmitStatus
        FROM adgomin_media_register
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
              SELECT
                    MAX(media_order)
              FROM adgomin_media_register
              WHERE email = #{email}
          )
    </select>

    <update id="mediaRegister" parameterType="com.adgomin.media.entity.MediaIntroduceEntity">
        UPDATE
            adgomin_media_register
        SET ad_detail_category = #{adDetailCategory}
          ,media_title = #{mediaTitle}
          ,media_summary = #{mediaSummary}
          ,media_detail_explain = #{mediaDetailExplain}
          ,media_price = #{mediaPrice}
          ,media_submit_status = #{mediaSubmitStatus}
          ,modify_dt = now()
          <if test='mediaSubmitStatus == "I"'>
                ,submit_dt = now()
          </if>
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
            SELECT
                max_media_order
            FROM
            (SELECT
                MAX(media_order) AS max_media_order
            FROM adgomin_media_register
            WHERE email = #{email}) AS sub
          )
    </update>

    <update id="changeThumbnail" parameterType="com.adgomin.media.entity.MediaIntroduceEntity">
        UPDATE
            adgomin_media_register
        SET thumbnail_img_nm = #{thumbnailImgNm}
          ,thumbnail_origin_file_nm = #{thumbnailOriginFileNm}
          ,thumbnail_img_file_path = #{thumbnailImgFilePath}
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
            SELECT
                max_media_order
            FROM
                (SELECT
                     MAX(media_order) AS max_media_order
                 FROM adgomin_media_register
                 WHERE email = #{email}) AS sub
          )
    </update>

    <select id="thumbnailImage" resultType="com.adgomin.media.entity.MediaRegisterEntity">
        SELECT
            thumbnail_img_nm AS thumbnailImgNm
             ,thumbnail_origin_file_nm AS thumbnailOriginFileNm
             ,thumbnail_img_file_path AS thumbnailImgFilePath
        FROM adgomin_media_register
        WHERE 1=1
          AND email = #{email}
          AND media_order = (
            SELECT
                max_media_order
            FROM
                (SELECT
                     MAX(media_order) AS max_media_order
                 FROM adgomin_media_register
                 WHERE email = #{email}) AS sub
        )
    </select>

    <select id="getRefuseCount" resultType="com.adgomin.media.vo.MediaRegisterVO">
        SELECT
            COUNT(*) AS cnt
        FROM adgomin_media_register T1
        LEFT JOIN adgomin_user T2 ON T1.email = T2.email
        WHERE 1=1
        AND T2.user_order = #{userOrder}
        AND T1.media_submit_status = 'C'
    </select>

    <select id="getConfirmUnReadCount" resultType="com.adgomin.media.vo.MediaRegisterVO">
        SELECT
            COUNT(*) AS cnt
        FROM adgomin_media_register T1
        LEFT JOIN adgomin_user T2 ON T1.email = T2.email
        WHERE 1=1
        AND T2.user_order = #{userOrder}
        AND T1.confirm_notification_read = 'N'
    </select>

    <select id="getRefuseMediaOrder" resultType="com.adgomin.media.entity.MediaRegisterEntity">
        SELECT
            T1.media_order AS mediaOrder
        FROM adgomin_media_register T1
        LEFT JOIN adgomin_user T2 ON T1.email = T2.email
        WHERE 1=1
        AND T2.user_order = #{userOrder}
        AND T1.media_submit_status = 'C';
    </select>

    <select id="getRefuseReason" resultType="com.adgomin.media.entity.MediaRegisterEntity">
        SELECT
            refuse_reason AS refuseReason
        FROM adgomin_media_refuse_reason
        WHERE 1=1
        AND media_order = #{mediaOrder}
        AND refuse_order = (SELECT MAX(refuse_order) FROM adgomin_media_refuse_reason WHERE media_order = #{mediaOrder})
    </select>
</mapper>