<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adgomin.payment.mapper.PaymentMapper">
    <update id="setPhoneNumberCertification" parameterType="com.adgomin.join.entity.JoinEntity">
        UPDATE
            adgomin_user
        SET phone_number_certification = #{phoneNumberCertification}
        WHERE 1=1
        AND user_order = #{userOrder}
    </update>

    <select id="phoneNumberCertificationCheck" resultType="com.adgomin.join.vo.JoinVO">
        SELECT
            COUNT(*) AS count
        FROM adgomin_user
        WHERE 1=1
        AND user_order = #{userOrder}
        AND phone_number_certification = #{phoneNumberCertification}
    </select>

    <select id="getVerificationInfo" resultType="com.adgomin.join.vo.JoinVO">
        SELECT
            email AS email
            ,name AS name
            ,phone_number AS phoneNumber
            ,phone_number_yn AS phoneNumberYn
        FROM adgomin_user
        WHERE 1=1
        AND user_order = #{userOrder}
    </select>

    <update id="phoneNumberCertificationSuccess" parameterType="com.adgomin.join.entity.JoinEntity">
        UPDATE
            adgomin_user
        SET name = #{name}
        ,phone_number = #{phoneNumber}
        ,phone_number_yn = 1
        WHERE 1=1
        AND user_order = #{userOrder}
    </update>

    <select id="getSellerOrder" resultType="com.adgomin.join.vo.JoinVO">
        SELECT
            T2.user_order AS userOrder
        FROM adgomin_media_register T1
        LEFT JOIN adgomin_user T2 ON T1.email = T2.email
        WHERE 1=1
        AND media_order = #{mediaOrder}
    </select>

    <insert id="paymentRegister" parameterType="com.adgomin.payment.entity.PaymentEntity">
        INSERT INTO adgomin_payments
        (order_id, buyer_order, seller_order, media_order, total_amount, create_dt, modify_dt)
        VALUES
        (#{orderId}, #{buyerOrder}, #{sellerOrder}, #{mediaOrder}, #{totalAmount}, NOW(), NOW())
    </insert>

    <select id="getTotalAmount" resultType="com.adgomin.payment.entity.PaymentEntity">
        SELECT
            total_amount AS totalAmount
        FROM adgomin_payments
        WHERE 1=1
        AND order_id = #{orderId}
    </select>

    <update id="setFailureReason" parameterType="com.adgomin.payment.entity.PaymentEntity">
        UPDATE
            adgomin_payments
        SET payment_status = 'FAILURE'
        ,payment_key = #{paymentKey}
        ,payment_type = #{paymentType}
        ,payment_failure_reason = #{paymentFailureReason}
        ,payment_amount = #{paymentAmount}
        ,modify_dt = NOW()
        WHERE 1=1
        AND order_id = #{orderId}
    </update>

    <update id="setSuccessPayment" parameterType="com.adgomin.payment.entity.PaymentEntity">
        UPDATE
            adgomin_payments
        SET payment_status = 'SUCCESS'
          ,payment_key = #{paymentKey}
          ,payment_type = #{paymentType}
          ,payment_amount = #{paymentAmount}
          ,modify_dt = NOW()
        WHERE 1=1
        AND order_id = #{orderId}
    </update>
</mapper>