/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.user-footer {
    border: 0.5px solid #D9D9D9;
    margin: 0;
}

.top-title {
    background-color: #9FADBD;
    color: #FFFFFF;
}

.media-manage-main-title {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 500;
    margin: auto;
    width: 1200px;
}

.media-manage-wrap {
    margin: auto;
    width: 1200px;
}

.media-manage-sub-wrap {
    display: flex;
}

.media-manage-sub-menu {
    width: 14rem;
    display: inline-block;
    border-right: 1px solid #ccc;
}

.media-manage-sub-menu > ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0;
}

.media-manage-sub-menu > ul > li {
    padding-bottom: 1rem;
    cursor: pointer;
    color: #303441;
}

.media-manage-sub-main {
    width: 61rem;
    display: inline-block;
}

.media-manage-sub-main-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    color: #303441;
}

.media-manage-sub-main-content-information {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.media-manage-thumbnail {
    width: 14.5rem;
    overflow: hidden;
    position: relative;
    height: 9rem;
}

.media-manage-thumbnail-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.media-manage-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    background-color: #F2F2F2;
}

.media-manage-card-detail > div {
    margin-left: 2rem;
    margin-top: 0.6rem;
}

.media-manage-price {
    font-size: 1.2rem;
    font-weight: 500;
}

.media-manage-modify-dt {
    font-size: 0.9rem;
}

.media-manage-card-detail {
    color: #363636;
    width: 33rem;
}

.media-manage-update-button {
    height: 2rem;
    width: 7.5rem;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #81BEF7;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    display: block;
}

.media-manage-delete-button {
    height: 2rem;
    width: 7.5rem;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #DF013A;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.media-manage-button {
    margin-top: 2rem;
}