<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 관리자 사용자 관리(광고매체 제출 상세보기)</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_submit_detail.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script defer th:src="@{/js/admin/admin_submit_detail.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<body>
<script th:inline="javascript">
    let sessionLoginUser = [[${session.LOGIN_USER}]];

    if (sessionLoginUser == null) {
        window.location.href = "/";
    }

    let getRegion = [[${region}]];
    let getAdCategory = [[${adCategory}]];
    let getMediaUrl = [[${mediaUrl}]];
    let getAdDetailCategory = [[${adDetailCategory}]];

    let getMediaDetailExplain = [[${mediaDetailExplain}]];
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<div class="top-title">
    <div class="user-main-title">관리자 사용자 관리</div>
</div>
<div class="user-wrap">
    <input type="hidden" id="mediaOrder" th:value="${mediaOrder}">
    <input type="hidden" id="email" th:value="${email}">
    <div class="user-sub-wrap">
        <div class="user-sub-menu">
            <ul>
                <li style="font-weight: bolder">
                    광고매체 제출 목록
                </li>
                <li id="mediaUserList">
                    광고매체 사용자 목록
                </li>
                <li id="advertiserUserList">
                    광고주 사용자 목록
                </li>
            </ul>
        </div>
        <div class="user-sub-main">
            <div class="user-sub-main-title">
                광고매체 제출 상세보기
            </div>
            <input type="text" class="detail-media-focus" id="focus" readonly>
            <div class="user-sub-main-content">
                <div class="user-media-introduce">
                    <img class="profile-image-detail" th:src="@{/profile/image (email=${email})}">
                    <div>
                        <label>광고매체자 닉네임</label>
                        <span th:text="${nickname}"></span>
                    </div>
                    <div>
                        <label>광고매체 소개</label>
                        <span class="media-introduce" th:text="${mediaIntroduce}"></span>
                    </div>
                    <div>
                        <label class="label-margin-bottom">광고매체 지역</label>
                        <span id="region"></span>
                    </div>
                    <div>
                        <label class="label-margin-bottom">광고매체 분야</label>
                        <span id="adCategory"></span>
                    </div>
                    <div>
                        <label>광고매체 URL</label>
                        <span th:text="${mediaUrl}" id="mediaUrl" class="media-url-detail"></span>
                    </div>
                </div>
                <div class="media-register">
                    <div>
                        <label>카테고리</label>
                        <span id="adDetailCategory"></span>
                    </div>
                    <div>
                        <label>광고매체 제목</label>
                        <span th:text="${mediaTitle}"></span>
                    </div>
                    <div>
                        <label>광고매체 요약</label>
                        <span class="media-summary" th:text="${mediaSummary}"></span>
                    </div>
                    <div>
                        <label>광고매체 상세설명</label>
                        <div id="editor">

                        </div>
                    </div>
                    <div>
                        <label>광고매체 썸네일</label>
                        <div class="detail-thumbnail">
                            <img th:src="@{/submit/thumbnail/image (mediaOrder=${mediaOrder})}">
                        </div>
                    </div>
                    <div>
                        <label>가격</label>
                        <span th:text="${mediaPrice}"></span>
                        <span>원</span>
                    </div>
                </div>
                <div>
                    <input type="button" class="judge-refuse-button" value="심사거절">
                    <input type="button" class="judge-complete-button" id="judgeCompleteButton" value="심사완료">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-bg" id="modalBg">
    <div class="modal-body">
        <div id="modalTitle"></div>
        <div class="modal-check-div" id="modalCheck">
            <i class="ri-checkbox-circle-line"></i>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>