<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드인 - 관리자 전체 관리(광고매체 제출 목록)</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_submit_list.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/admin/admin_submit_list.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<script th:inline="javascript">
    let sessionLoginUser = [[${session.LOGIN_USER}]];

    if (sessionLoginUser == null) {
        window.location.href = "/";
    }
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<div class="top-title">
    <div class="user-main-title">관리자 전체 관리</div>
</div>
<div class="user-wrap">
    <div class="user-sub-wrap">
        <div class="user-sub-menu">
            <ul>
                <li style="font-weight: bolder">
                    광고매체 제출 목록
                </li>
                <li id="register">
                    광고매체 등록
                </li>
            </ul>
        </div>
        <div class="user-sub-main">
            <div class="user-sub-main-title">
                광고매체 제출 목록
            </div>
            <div class="user-sub-main-content">
                <table>
                    <tr>
                        <th>이메일</th>
                        <th>광고매체 제목</th>
                        <th>제출 시간</th>
                    </tr>
                    <tr th:each="mediaRegister : ${mediaRegisterEntityList}">
                        <td th:text="${mediaRegister.mediaOrder}" style="display: none"></td>
                        <td th:text="${mediaRegister.email}"></td>
                        <td th:text="${mediaRegister.mediaTitle}"></td>
                        <td th:text="${#dates.format(mediaRegister.submitDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </table>
                <div>
                    <div class="div-paging">
                        <span th:if="${paging.cri.page > 1}"><a th:href="@{/admin(page=${paging.cri.page - 1})}">이전페이지</a></span>
                        <span th:each="num : ${#numbers.sequence((paging.startPage), (paging.endPage))}" th:class="${num == paging.cri.page} ? 'current-page' : ''"><a th:text="${num}" th:href="@{/admin(page=${num})}"></a></span>
                        <span th:if="${paging.cri.page < 1.0 * paging.totalCount / paging.cri.perPageNum}"><a th:href="@{/admin(page=${paging.cri.page + 1})}">다음페이지</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-bg" id="modalBg">
    <div class="modal-body">
        <div id="modalTitle"></div>
        <div class="modal-check-div" id="modalCheck">
            <i class="ri-checkbox-circle-line"></i>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>