<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 애드곰인 관리</title>
    <link rel="stylesheet" th:href="@{/css/manage/media.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/manage/media.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<script th:inline="javascript">
    let sessionLoginUser = [[${session.LOGIN_USER}]];

    if(sessionLoginUser == null) {
        window.location.href = "/";
    }
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<div class="top-title">
    <div class="media-manage-main-title">애드곰인 관리</div>
</div>
<div class="media-manage-wrap">
    <div class="media-manage-sub-wrap">
        <div class="media-manage-sub-menu">
            <ul>
                <li style="font-weight: bolder">
                    내 광고매체 관리
                </li>
                <li>
                    내 포트폴리오 관리
                </li>
            </ul>
        </div>
        <div class="media-manage-sub-main">
            <div class="media-manage-sub-main-title">
                내 광고매체 관리
            </div>
            <div class="media-manage-sub-main-content-information">
                <div th:each="mediaRegister : ${allMediaRegister}" class="media-manage-card" th:data-parent="${mediaRegister.mediaOrder}">
                    <div class="media-manage-thumbnail">
                        <img class="media-manage-thumbnail-img" th:src="@{/manage/thumbnail/image (thumbnailImgNm=${mediaRegister.thumbnailImgNm}, thumbnailImgFilePath =${mediaRegister.thumbnailImgFilePath})}">
                    </div>
                    <div class="media-manage-card-detail">
                        <div class="media-manage-title">
                            <span th:text="${mediaRegister.mediaTitle}"></span>
                        </div>
                        <div class="media-manage-price">
                            <span th:text="${mediaRegister.mediaPrice}"></span>
                            <span>원</span>
                        </div>
                        <div class="media-manage-submit-status">
                            <span th:if="${mediaRegister.mediaSubmitStatus == 'T'}">임시저장</span>
                            <span th:if="${mediaRegister.mediaSubmitStatus == 'I'}">심사중</span>
                            <span th:if="${mediaRegister.mediaSubmitStatus == 'C'}">반려</span>
                            <span class="media-manage-y" th:data-parent="${mediaRegister.mediaOrder}" th:if="${mediaRegister.mediaSubmitStatus == 'Y'}">정상서비스(광고매체 보기)</span>
                        </div>
                        <div class="media-manage-modify-dt">
                            <span>최근 수정 일자 : </span>
                            <span th:text="${#dates.format(mediaRegister.modifyDt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>
                    </div>
                    <div class="media-manage-button">
                        <input type="button" class="media-manage-update-button" value="광고매체 수정" th:data-parent="${mediaRegister.mediaSubmitStatus}" th:data-parent2="${mediaRegister.mediaOrder}">
                        <input type="button" class="media-manage-delete-button" value="광고매체 삭제" th:data-parent="${mediaRegister.mediaSubmitStatus}" th:data-parent2="${mediaRegister.mediaOrder}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-bg" id="modalBg">
    <div class="modal-body">
        <div class="modal-alert-div">
            <i class="ri-alert-line"></i>
        </div>
        <div class="ask-delete">강의를 삭제하시겠습니까?</div>
        <div class="alert-delete">삭제된 강의는 복구할 수 없습니다.</div>
        <div class="modal-check-div" id="modalCheck">
            <input type="button" class="modal-cancel-button" id="modalCancelButton" value="취소">
            <input type="button" class="modal-confirm-button" id="modalConfirmButton" value="확인">
        </div>
    </div>
</div>
<div class="modal-bg2" id="modalBg2">
    <div class="modal-body2">
        <div id="modalTitle"></div>
        <div class="modal-check-div2" id="modalCheck2">
            <i class="ri-checkbox-circle-line"></i>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>