<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/join/join.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/join/join_email.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
</head>
<body>
<th:block th:replace="~{layouts/header :: body}"></th:block>
    <div class="join-email-wrap">
        <div class="join-email-title">
            이메일 인증
        </div>
        <div class="join-wrap-sub-email">
            <div class="email-sub-title"><span>💌인증 메일</span>을 보내드렸습니다.</div>
            <div class="email-sub-title"><span>💌인증 메일</span>을 확인해주세요. </div>

            <div class="sub-email">
                <span>애드곰인 가입 마지막 단계</span></br>
                <span>이메일을 인증해주시면, 애드곰인 서비스를 모두 이용하실 수</span><br> <span>있습니다.</span></br>
                <span>가입해주셔서 감사드립니다.👍🏻</span></br>
            </div>

            <input type="button" class="join-email-home-button" id="joinEmailHomeButton" value="홈으로">
        </div>
    </div>
<hr class="join-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>