<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/join/join.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/join/join.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<script th:inline="javascript">
    let sessionLoginUser = [[${session.LOGIN_USER}]];

    if(sessionLoginUser != null) {
        window.location.href = "/"
    }
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
    <div class="join-wrap">
        <div class="join-title">
            회원가입
        </div>
        <div class="join-wrap-sub">
            <div class="join-title-sub">
                애드곰인에서 이용하고 싶은<br> 서비스 유형을 선택해 주세요.
            </div>
            <div class="join-service-category">
                <div class="join-service-media" id="joinServiceMedia">
                    <div class="join-service-category-div">
                        <i class="ri-check-fill"></i> 광고매체로 가입
                    </div><br>
                    <span>광고매체를 등록해 광고를 해주는 사용자</span>
                </div>
                <div class="join-service-advertiser" id="joinServiceAdvertiser">
                    <div class="join-service-category-div">
                        <i class="ri-check-fill"></i> 광고주로 가입
                    </div><br>
                    <span>광고를 등록해 매출상승을 하려는 사용자</span>
                </div>
            </div>
        </div>
    </div>
<hr class="join-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>