<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 비밀번호 재설정</title>
    <link rel="stylesheet" th:href="@{/css/join/join.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/join/join_email.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <th:block th:replace="~{layouts/favicon :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{layouts/header :: body}"></th:block>
    <div class="join-email-wrap">
        <div class="join-email-title">
            비밀번호 재설정
        </div>
        <div class="password-wrap-sub-change">
            <div class="change-sub-title"><span>비밀번호 재설정</span>이 완료되었습니다.</div>

            <div class="sub-change">
                <span>변경된 비밀번호로 로그인 하시면 됩니다.</span></br>
                <spab>감사합니다.👍🏻</spab>
            </div>

            <input type="button" class="join-email-home-button" id="joinEmailHomeButton" value="홈으로">
        </div>
    </div>
<hr class="join-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>