<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드인 - 계정설정(비밀번호 변경)</title>
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/user/password_change.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<script th:inline="javascript">
    let sessionLoginUser = [[${session.LOGIN_USER}]];

    if(sessionLoginUser == null) {
        window.location.href = "/"
    }
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
    <div class="top-title">
        <div class="user-main-title">계정 설정</div>
    </div>
   <div class="user-wrap">
       <div class="user-sub-wrap">
           <div class="user-sub-menu">
               <ul>
                   <li id="user">
                       내 정보
                   </li>
                   <li style="font-weight: bolder">
                       비밀번호 변경
                   </li>
                   <li id="userSecession">
                       회원 탈퇴
                   </li>
               </ul>
           </div>
           <div class="user-sub-main">
                <div class="user-sub-main-title">
                    비밀번호 변경
                </div>
                <div class="user-sub-password-change-content">
                    <div class="user-sub-main-content-information">
                        <div>
                            <label>현재 비밀번호</label>
                            <div>
                                <input type="password" id="passwordPresent" placeholder="현재 비밀번호를 입력해 주세요.">
                            </div>
                            <span class="password-present-error" id="presentPasswordError">비밀번호를 확인해주세요.</span>
                        </div>
                        <div>
                            <label>변경할 비밀번호</label>
                            <div>
                                <input type="password" id="passwordChange" placeholder="변경할 비밀번호를 입력해 주세요.">
                            </div>
                            <span class="password-change-error" id="passwordError">8자 이상/영문/숫자/특수문자를 사용해주세요.</span>
                        </div>
                        <div>
                            <label>변경할 비밀번호 한번 더 입력</label>
                            <div>
                                <input type="password" id="passwordChangeCheck" placeholder="변경할 비밀번호를 한번 더 입력해 주세요.">
                                <input type="button" value="변경하기" id="passwordChangeButton" class="password-change-button">
                            </div>
                            <span class="password-change-check-error" id="passwordCheckError">비밀번호를 확인해주세요.</span>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>
<div class="modal-bg" id="modalBg">
    <div class="modal-body">
        <div id="modalTitle"></div>
        <div class="modal-check-div" id="modalCheck">
            <i class="ri-checkbox-circle-line"></i>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>