/* 글꼴 */
@import url('https: //fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.youtube-ad-here, .instagram-ad-here, .facebook-ad-here {
	font-family:  'Do Hyeon', sans-serif;
}

body {
	margin: 0;
}

/* wrap 전체 */
.wrap {
	margin:  auto 15%; 
}

/* 유튜브 */
.youtube-title {
	margin-top:  1rem;
	margin-bottom:  1rem;
}

.youtube-title > .youtube-ad-here {
	font-size:  2rem;
	vertical-align:  middle;
}

.main-youtube-logo {
	font-size:  3rem;
}

/* 화살표 */
.ri-arrow-right-line {
	font-size:  2rem;
	vertical-align:  middle;
	margin-left:  1rem;
}

.youtube-each-contents {
	background-color:  black;
	width:  15rem;
	height:  20rem;
	display:  inline-block;
}

/* 인스타그램 */
.instagram-title {
	margin-top:  1rem;
	margin-bottom:  1rem;
}

.instagram-title > .instagram-ad-here {
	font-size:  2rem;
	vertical-align:  middle;
}

.main-instagram-logo {
	font-size:  3rem;
}

/* 화살표 */
.ri-arrow-right-line {
	font-size:  2rem;
	vertical-align:  middle;
	margin-left:  1rem;
}

.instagram-each-contents {
	background-color:  black;
	width:  15rem;
	height:  20rem;
	display:  inline-block;
}

/* 페이스북 */
.facebook-title {
	margin-top:  1rem;
	margin-bottom:  1rem;
}

.facebook-title > .facebook-ad-here {
	font-size:  2rem;
	vertical-align:  middle;
}

.main-facebook-logo {
	font-size:  3rem;
}

/* 화살표 */
.ri-arrow-right-line {
	font-size:  2rem;
	vertical-align:  middle;
	margin-left:  1rem;
}

.facebook-each-contents {
	background-color:  black;
	width:  15rem;
	height:  20rem;
	display:  inline-block;
}