/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.youtube-ad-here {
	font-family: 'Do Hyeon', sans-serif;
}

/* wrap 전체 */
.wrap {
	margin:auto 15%; 
}

/* 유튜브 타이틀 */
.youtube-title {
	margin-top:1rem;
	margin-bottom:1rem;
}

.youtube-title > .youtube-ad-here {
	font-size:2rem;
	vertical-align:middle;
}

/* 유튜브 타이틀 로고 */
.main-youtube-logo {
	font-size:3rem;
}

/* 화살표 */
.ri-arrow-right-line {
	font-size:2rem;
	vertical-align:middle;
	margin-left:1rem;
}

/* 유튜브 콘텐츠 */
.youtube-each-contents {
	background-color:black;
	width:15rem;
	height:20rem;
	display:inline-block;
}

