<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 카테고리</title>
    <link rel="stylesheet" th:href="@{/css/category/category_list.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/category/category_list.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    let order = [[${order}]];
    let adDetailCategory = [[${adDetailCategory}]];
    let adCategory = [[${adCategory}]];
    let region = [[${region}]];
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<div class="category-wrap">
    <div class="category-sub-wrap">
        <div class="category-menu">
            <ul>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/all-category-icon.png}"><span class="category-list-span all">전체 카테고리</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/youtube-icon.png}"><span class="category-list-span youtube">유튜브</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/instagram-icon.png}"><span class="category-list-span instagram">인스타그램</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/facebook-icon.png}"><span class="category-list-span facebook">페이스북</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/blog-icon.png}"><span class="category-list-span blog">블로그</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/subway-icon.png}"><span class="category-list-span subway">지하철</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/bus-icon.png}"><span class="category-list-span bus">버스</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/building-icon.png}"><span class="category-list-span building">옥외광고</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/movie-icon.png}"><span class="category-list-span movie">영화관</span>
                </li>
                <li class="category-li">
                    <img class="category-img" th:src="@{/images/flag-icon.png}"><span class="category-list-span flag">현수막</span>
                </li>
            </ul>
        </div>
        <div class="category-main">
            <div th:text="${adDetailCategoryKo}" class="category-main-title"></div>
            <div class="search-div">
                <div class="ad-category-option" id="adCategoryOption">분야 <span class="arrow-icon arrow-icon-down"></span></div>
                <div class="ad-category-options ad-category-options-hidden">
                    <div>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="game"></i></div> 게임</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="mukbang"></i></div> 먹방</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="app"></i></div> 어플</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="hospital"></i></div> 병원</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="restaurant"></i></div> 음식점</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="cosmetics"></i></div> 화장품</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="academy"></i></div> 학원</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="food"></i></div> 식품</label>
                        <label class="ad-category-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill ad-category-checkbox" data-parent="product"></i></div> 제품</label>
                    </div>
                    <hr class="ad-category-options-hr">
                    <div>
                        <input type="button" class="ad-category-option-apply" id="adCategoryApply" value="적용하기">
                    </div>
                </div>
                <div class="region-option" id="regionOption">지역 <span class="arrow-icon arrow-icon-down"></span></div>
                <div class="region-options region-options-hidden">
                    <div>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Seoul"></i></div> 서울</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Incheon"></i></div> 인천</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Busan"></i></div> 부산</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Daejeon"></i></div> 대전</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Gwangju"></i></div> 광주</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Daegu"></i></div> 대구</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Ulsan"></i></div> 울산</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Gyeonggi"></i></div> 경기</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Gangwon"></i></div> 강원</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Chungbuk"></i></div> 충북</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Chungnam"></i></div> 충남</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Jeonbuk"></i></div> 전북</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Jeonnam"></i></div> 전남</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Gyeongbuk"></i></div> 경북</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Gyeongnam"></i></div> 경남</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Jeju"></i></div> 제주</label>
                        <label class="region-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill region-checkbox" data-parent="Sejong"></i></div> 세종</label>
                    </div>
                    <hr class="region-options-hr">
                    <div>
                        <input type="button" class="region-option-apply" id="regionApply" value="적용하기">
                    </div>
                </div>
                <div class="select-category-region">
                    <span class="select-ad-category" th:if="${adCategoryKo != ''}"><div th:text="${adCategoryKo}"></div><span class="select-close" id="selectAdCategoryClose"></span></span>
                    <span class="select-region" th:if="${regionKo != ''}"><div th:text="${regionKo}"></div><span class="select-close" id="selectRegionClose"></span></span>
                </div>
                <div class="order-option" id="orderOption"><span th:text="${orderKo}"></span><span class="arrow-icon arrow-icon-down-order"></span></div>
                <div class="order-options order-options-hidden">
                    <div>
                        <label class="order-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill order-checkbox" data-parent="recommend"></i></div> 추천순</label>
                        <label class="order-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill order-checkbox" data-parent="popular"></i></div> 인기순</label>
                        <label class="order-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill order-checkbox" data-parent="rating"></i></div> 평점순</label>
                        <label class="order-checkbox-line"><div class="checkbox-div"><i class="ri-checkbox-circle-fill order-checkbox" data-parent="recent"></i></div> 최신순</label>
                    </div>
                </div>
            </div>
            <div class="category-list-wrap">
                <div th:each="category : ${categoryList}" class="category-card" th:data-parent="${category.mediaOrder}">
                    <div class="category-thumbnail">
                        <img class="category-thumbnail-img" th:src="@{/main/thumbnail/image (thumbnailImgNm=${category.thumbnailImgNm}, thumbnailImgFilePath =${category.thumbnailImgFilePath})}">
                    </div>
                    <div class="category-title" th:text="${category.mediaTitle}"></div>
                    <div class="category-nickname" th:text="${category.nickname}"></div>
                    <div class="category-price"><span th:text="${category.mediaPrice}"></span><span>원</span></div>
                    <div class="review-star">
                        <i class="ri-star-fill"></i>
                        <div class="review-count">5.0(123)</div>
                    </div>
                    <div class="category-card-hover">
                        <div class="card-hover-info">
                            <div><span><i class="ri-advertisement-line"> </i></span><span th:text="${category.adDetailCategory}"></span></div>
                            <div><span><i class="ri-list-check"></i> </i></span><span th:text="${category.adCategory}"></span></div>
                            <div><span><i class="ri-broadcast-fill"></i> </span><span th:text="${category.region}"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="div-paging">
                    <span th:if="${paging.totalCount > 0}">
                        <span th:if="${paging.cri.page > 1}"><a th:href="@{/category(order=${order}, adDetailCategory=${adDetailCategory}, adCategory=${adCategory}, region=${region}, page=${paging.cri.page - 1})}">이전페이지</a></span>
                        <span th:each="num : ${#numbers.sequence((paging.startPage), (paging.endPage))}" th:class="${num == paging.cri.page} ? 'current-page' : ''"><a th:text="${num}" th:href="@{/category(order=${order}, adDetailCategory=${adDetailCategory}, adCategory=${adCategory}, region=${region}, page=${num})}"></a></span>
                        <span th:if="${paging.cri.page < 1.0 * paging.totalCount / paging.cri.perPageNum}"><a th:href="@{/category(order=${order}, adDetailCategory=${adDetailCategory}, adCategory=${adCategory}, region=${region}, page=${paging.cri.page + 1})}">다음페이지</a></span>
                    </span>
                    <span th:unless="${paging.totalCount > 0}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>