<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인</title>
    <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/chat/chat.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
</head>
<body>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<input type="hidden" th:value="${chatRoomOrder}" id="chatRoomOrder">
<input type="hidden" th:value="${userOrder}" id="userOrder">
<input type="hidden" th:value="${partnerOrder}" id="partnerOrder">
<div class="chat-wrap">
    <div class="chat-sub-wrap">
        <div class="chat-room-list">
            <div class="chat-room" th:each="chatRoom : ${chatRoomList}" th:data-parent="${chatRoom.chatRoomOrder}">
                <div class="partner-profile">
                    <img th:src="@{/profile/image/{userOrder} (userOrder=${chatRoom.partnerOrder})}">
                </div>
                <div>
                    <div class="partner-nickname" th:text="${chatRoom.partnerNickname}"></div>
                    <div class="chat-list chat-item" th:id="'chatList_' + ${chatRoom.chatRoomOrder}" th:text="${chatRoom.lastMessage}"></div>
                    <div class="unread-message" th:data-parent="${chatRoom.isRead}"></div>
                </div>
            </div>
        </div>
        <div th:if="${chatRoomOrder == null}" class="chat-message">
            <div>
                <i class="ri-message-2-line"></i>
                <div class="chat-message-empty">문의 목록을 선택해주세요.</div>
                <div class="chat-message-empty-sub">문의 목록을 선택한 후 지금 바로 대화를 시작해보세요!</div>
            </div>
        </div>
        <div th:if="${chatRoomOrder != null}" class="chat-message-room">
            <div class="chat-message-room-chat" id="chatMessageRoomChat">
                <div th:each="chatMessage : ${chatMessageEntityList}">
                    <div th:if="${userOrder == chatMessage.senderOrder}" class="chat-my-message">
                        <div class="chat-my-message-timestamp">
                            <div th:text="${#dates.format(chatMessage.timestamp, 'yy.MM.dd')}"></div>
                            <div th:text="${#dates.format(chatMessage.timestamp, 'HH:mm')}"></div>
                        </div>
                        <span th:utext="${#strings.replace(chatMessage.message, '<br>', '&lt;br /&gt;')}"></span>
                    </div>
                    <div th:if="${userOrder != chatMessage.senderOrder}" class="chat-partner-message">
                        <span th:utext="${#strings.replace(chatMessage.message, '<br>', '&lt;br /&gt;')}"></span>
                        <div class="chat-partner-message-timestamp">
                            <div th:text="${#dates.format(chatMessage.timestamp, 'yy.MM.dd')}"></div>
                            <div th:text="${#dates.format(chatMessage.timestamp, 'HH:mm')}"></div>
                        </div>
                    </div>
                </div>
                <div id="messages">

                </div>
            </div>
            <div class="send-div">
                <textarea type="text" class="message-input" id="messageInput" placeholder="메세지를 입력하세요.(Enter:줄바꿈, Shift + Enter:전송)" spellcheck="false"></textarea>
                <input type="button" class="disabled send-message" id="sendMessage" value="전송">
            </div>
        </div>
    </div>
</div>
<hr class="user-footer">
</body>
</html>