<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드인 - 비밀번호 재설정</title>
    <link rel="stylesheet" th:href="@{/css/join/join.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/join/password_change.js}"></script>
    <script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<script th:inline="javascript">
    let sessionLoginUser = [[${session.LOGIN_USER}]];

    if(sessionLoginUser != null) {
        window.location.href = "/"
    }
</script>
<th:block th:replace="~{layouts/header :: body}"></th:block>
    <input type="hidden" id="email" th:value="${email}">
    <div class="password-change-wrap">
        <div class="password-change-title">
            비밀번호 재설정
        </div>
        <div class="password-change-wrap-sub">
            <div>
                <label><span class="essential-star">＊</span> 비밀번호</label>
                <input type="password" class="password-change" id="passwordChange" placeholder="비밀번호를 입력해 주세요."><br>
                <span class="password-change-error" id="passwordError">8자 이상/영문/숫자/특수문자를 사용해주세요.</span>
            </div>
            <div>
                <label><span class="essential-star">＊</span> 비밀번호 확인</label>
                <input type="password" class="password-change-check" id="passwordChangeCheck" placeholder="비밀번호를 한번 더 입력해 주세요."><br>
                <span class="password-change-check-error" id="passwordCheckError">비밀번호를 확인해주세요.</span>
            </div>
            <input type="button" class="password-change-button" id="passwordChangeButton" value="비밀번호 변경">
        </div>
    </div>
<hr class="join-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>