<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애드곰인 - 결제하기</title>
    <link rel="stylesheet" th:href="@{/css/layouts/header.css}">
    <link rel="stylesheet" th:href="@{/css/layouts/footer.css}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script defer th:src="@{/js/layouts/header.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <th:block th:replace="~{layouts/favicon :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{layouts/header :: body}"></th:block>
<h2> 결제 실패 </h2>
<p id="code"></p>
<p id="message"></p>

<script>
    const urlParams = new URLSearchParams(window.location.search);

    const codeElement = document.getElementById("code");
    const messageElement = document.getElementById("message");

    codeElement.textContent = "에러코드: " + urlParams.get("code");
    messageElement.textContent = "실패 사유: " + urlParams.get("message");
</script>
<hr class="user-footer">
<th:block th:replace="~{layouts/footer :: body}"></th:block>
</body>
</html>