<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADIN</title>
</head>
<body>
<footer>
    <div class="footer">
        <div class="footer-left">
            <div class="logo-area">
                <span class="footer-logo">AD-IN</span>
            </div>
            <div class="info-area">
                <span>(주)애드인 | 대표자: 이도영 | 사업자번호: 123-45-67890</span> <br>
                <span>이메일: adin@adin.com | 주소: 대구광역시 수성구</span>
            </div>
            <div class="privacy-area">
                <a>이용약관 </a>|<a> 개인정보처리방침</a>
            </div>
        </div>
        <div class="footer-right">
            <ul>애드인
                <li>애드인 소개</li>
            </ul>
            <ul>애드인 광고
                <li>광고 신청</li>
            </ul>
            <ul>고객센터
                <li>공지사항</li>
                <li>자주 묻는 질문</li>
                <li>문의하기</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>