<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ADIN</title>
	<link rel="stylesheet" th:href="@{/css/layouts/header.css}">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
	<header>
		<div class="header">
			<div class="header-logo">
				<a th:href="@{/}" title="메인으로 가기">
					<span class="logo">AD-IN</span>
				</a>
			</div>
			<div class="header-search">
				<input type="text" class="main-search" placeholder="광고하고 싶은 매체를 검색해보세요.">
				<i class="ri-search-line"></i>
			</div>
			<div class="header-login" th:if="${session.LOGIN_USER == null}">
				<button class="login-button" id="loginBtn" >로그인</button>
				<button class="signup-button" id="signupBtn">회원가입</button>
			</div>
			<div class="header-after-login" th:if="${session.LOGIN_USER != null}">
				<div class="adin-manage">
					애드인 관리
				</div>
				<div class="header-heart">
					찜
				</div>
				<div class="header-message">
					알림
				</div>
				<div class="header-mypage dropdown">
					프로필
					<div class="dropdown-content">
						<div class="profile-wrap">
							<div class="profile-image">
								<img th:if="${session.LOGIN_USER != null}" th:src="@{/profile/image (email=${session.LOGIN_USER.getEmail()})}">
							</div>
							<div class="profile-nickname-usertype">
								<div th:text="${session.LOGIN_USER.nickname}" class="profile-nickname"></div>
								<div th:if="${session.LOGIN_USER.userType == 'media'}" class="profile-usertype">광고매체</div>
								<div th:if="${session.LOGIN_USER.userType == 'advertiser'}" class="profile-usertype">광고주</div>
							</div>
						</div>
						<div th:if="${session.LOGIN_USER.userType == 'media'}" class="dropdown-sub" id="mediaManage">광고매체 관리</div>
						<div th:if="${session.LOGIN_USER.userType == 'admin'}" class="dropdown-sub" id="adminAllManage">전체 관리</div>
						<div class="dropdown-sub" id="userSetting">계정설정</div>
						<div class="dropdown-sub" id="logout">로그아웃</div>
					</div>
				</div>
			</div>
		</div>
		<div class="all-category-area">
			<span><i class="ri-menu-line"></i> <span class="category-text">전체 카테고리</span><i class="ri-arrow-drop-down-line"></i></span>
		</div>
	</header>
	<div class="login-cover" id="loginCover">
		<div class="login-box">
			<div class="close-btn" id="closeBtn">
				<i class="ri-close-line"></i>
			</div>
			<div class="title">
				<div class="login-logo">AD-IN</div>
			</div>
			<input type="email" id="loginBoxEmail" class="email-input" placeholder="이메일을 입력해 주세요." autofocus>
			<span class="login-box-email-error" id="loginBoxEmailError">이메일을 확인해 주세요.</span>
			<span class="login-box-email-exist-error" id="loginBoxEmailExistError">가입되어 있지 않은 이메일 입니다.</span>
			<input type="password" id="loginBoxPassword" class="password-input" placeholder="비밀번호를 입력해 주세요.">
			<span class="login-box-password-error" id="loginBoxPasswordError">비밀번호를 확인해 주세요.</span>
			<input type="button" class="login-box-login-button" id="loginBoxLoginButton" value="로그인">
			<div class="user-service">
				<input type="checkbox" id="rememberMe" name="rememberMe">
				<label for="rememberMe">로그인 유지</label>
				<a class="id-password-find" id="passwordFind">비밀번호 찾기</a>
			</div>
			<hr class="login-box-hr">
			<input type="button" id="loginBoxSignupButton" class="login-box-signup-button" value="애드인 회원가입">
		</div>
	</div>
</body>
</html>
