<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ADIN</title>
	<link rel="stylesheet" th:href="@{/css/layouts/header.css}">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
	<header>
		<div class="header">
			<div class="header-logo">
				<a th:href="@{/}" title="메인으로 가기">
					<img class="logo-img" th:src="@{/images/logo.png}" alt="ADIN">
				</a>
			</div>
			<div class="header-search">
				<input type="text" class="main-search">
				<i class="ri-search-line"></i>
			</div>
			<div class="header-login">
				<button class="login-btn" id="loginBtn">로그인</button>
				<button class="signup-btn" id="signupBtn">회원가입</button>
			</div>
		</div>
	</header>
	<div class="login-cover" id="loginCover">
		<div class="login-box">
			<div class="close-btn" id="closeBtn">
				<i class="ri-close-line"></i>
			</div>
			<div class="title">
				<img class="login-logo-img" th:src="@{/images/logo.png}" alt="ADIN">
			</div>
			<input type="email" class="email-input" placeholder="이메일" autofocus>
			<input type="password" class="password-input" placeholder="비밀번호">
			<div class="user-service">
				<a>비밀번호 찾기</a>
				<span>/</span>
				<a>회원가입</a>
			</div>
			<div class="other-login">다른 로그인 방법</div>
			<div class="other-login-logo">
				<a>
					<img th:src="@{/images/kakao-logo.png}" alt="KAKAO">
				</a>
				<a>
					<img th:src="@{/images/google-logo.png}" alt="GOOGLE">
				</a>
			</div>
		</div>
	</div>
	<div class="header-sns">
		<div class="go-sns-ad">
			<ul>
				<li><span class="sns-name">YouTube</span><i class="ri-youtube-fill"></i></li>
				<li class="instar-li"><span class="sns-name">Instargram</span><i class="ri-instagram-line"></i></li>
				<li><span class="sns-name">Facebook</span><i class="ri-facebook-box-fill"></i></li>
				<li><span class="sns-name">대중교통</span><i class="ri-subway-fill"></i></li>
				<li><span class="sns-name">전광판</span><i class="ri-computer-line"></i></li>
				<li><span class="sns-name">영화관</span><i class="ri-film-fill"></i></li>
			</ul>
		</div>
	</div>
</body>
</html>
