/* 헤더 전체 */
header {
	border-bottom: 1px solid #D9D9D9;
}

.header {
	display: flex; 
	margin: auto 15%; 
	font-size: 1rem;
}

/* 로고 이미지 */
.header-logo {
	display: inline-block;
}

.logo-img {
	width: 150px;
}

/* 메인 검색창 */
.header-search {
  	display: flex; 
	align-items: center; 
	margin: auto; 
	background-color: #F2F2F2; 
	border-radius: 5px; 
	border: 1px solid black;
	height: 35px; 
	width: 200px; 
	font-size: 1rem;
}

.main-search {
	background-color: #F2F2F2; 
	border: 0px; 
	outline: 0px; 
	height: 30px; 
	font-size: 1rem;
	padding-left: 10px;
}

/* 로그인 버튼 */
.header-login {
	display: flex; 
	align-items: center;
}

.login-btn {
	background-color: #FFFFFF; 
	height: 35px; 
	border: 1px solid black; 
	border-radius: 5px; 
	width: 90px; 
	font-size: 1rem; 
	cursor: pointer;
}

/* 회원가입 버튼 */
.signup-btn {
	background-color: rgba(95, 144, 243, 0.84);
	height: 35px; 
	border: 1px solid black; 
	border-radius: 5px; 
	width: 90px; 
	font-size: 1rem; 
	cursor: pointer; 
	margin-left: 10px; 
	color: #FFFFFF
}

/* 로그인 */
.login-cover {
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(2px);
	align-items:center;
	display:none;
	flex-direction:column;
	justify-content:center;
	position:fixed;
	z-index:9;
}

.login-box {
	width:22rem;
	height:26rem;
	border: 1px solid #eee;
	border-radius:2rem;
	background-color:rgb(255, 255, 255);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:fixed;
}

.login-box > .close-btn{
	cursor:pointer;
	margin-left:18rem;
	font-size:1.25rem;
}

.login-box > .title {
	margin-bottom:1rem;
}

.login-box > .title > .login-logo-img {
	width:10rem;
}

.login-box > input {
	margin-bottom:1rem;
	width:15rem;
	height:2.5rem;
	border-radius:0.5rem;
	border:1px solid #D9D9D9;
	padding-left:0.5rem;
}

.login-box > .user-service > a {
	cursor:pointer;
	text-decoration:underline;
}

.login-box > .other-login {
	margin:1rem 0 0.5rem 0;
	color:#D9D9D9;
}

.login-box > .other-login-logo {
	margin-bottom:1rem;
}

.login-box > .other-login-logo > a > img {
	cursor:pointer;
	width:3rem;
}

.login-box > .other-login-logo > a:first-of-type > img {
	margin-right:0.5rem;
}

.login-box > .other-login-logo > a:last-of-type > img {
	border:1px solid #D9D9D9;
	border-radius:0.3rem;
	box-sizing:border-box;
}

/* 헤더 sns */
.header-sns {
	border-bottom: 1px solid #D9D9D9;
}

/* sns 바로가기 버튼 */
.go-sns-ad {
	margin: auto 10%;
}

.go-sns-ad > ul {
	list-style: none; 
	margin: 10px;
}

.go-sns-ad > ul > li {
	display: inline-block; 
	font-size: 1.1rem; 
	margin-left: 4%; 
	border: 1px solid #A4A4A4; 
	border-radius: 20px; 
	padding-left: 10px; 
	padding-right: 10px; 
	cursor: pointer;
}

.sns-name {
	vertical-align: middle; 
	font-weight: bold; 
	color: #424242;
}

/* sns 바로가기 마우스 올렸을 때 */
.go-sns-ad > ul > li:hover {
	border: 2px solid #5C8AE6;
	margin: -2px -2px -2px 4%;
}

.go-sns-ad > ul > li:hover .sns-name {
	color: #5C8AE6;
}

/* 유튜브 로고 */
.ri-youtube-fill {
	color: #FF0000; 
	vertical-align: middle; 
	font-size: 2.5rem; 
	margin-left: 10px;
}

/* 인스타그램 로고 */
.ri-instagram-line {
	background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%); 
	color: #FFFFFF; 
	border-radius: 20%; 
	vertical-align: middle; 
	font-size: 2rem; 
	margin-left: 10px;
}

/* 페이스북 로고 */
.ri-facebook-box-fill {
	color: #3B5998; 
	vertical-align: middle; 
	font-size: 2.5rem; 
	margin-left: 10px;
}

/* 대중교통 로고 */
.ri-subway-fill {
	color: #A4A4A4; 
	vertical-align: middle; 
	font-size: 2.5rem; 
	margin-left: 10px;
}

/* 전광판 로고 */
.ri-computer-line {
	vertical-align: middle; 
	font-size: 2.5rem; 
	margin-left: 10px;
}

/* 영화관 로고 */
.ri-film-fill {
	vertical-align: middle; 
	font-size: 2.5rem; 
	margin-left: 10px;
}

/* 인스타그램 li태그 */
.instar-li {
	padding-top: 4px; 
	padding-bottom: 4px;
}