<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ADIN</title>
	<link rel="stylesheet" th:href="@{/css/main/main.css}">
	<link rel="stylesheet" th:href="@{/css/layouts/header.css}">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<script defer th:src="@{/js/main/main.js}"></script>
	<script defer th:src="@{/js/layouts/header.js}"></script>
</head>
<body>
<th:block th:replace="~{layouts/header :: body}"></th:block>
	<div class="wrap">
		<div class="youtube-area">
			<div class="youtube-title">
				<span class="youtube-ad-here">유튜브 광고는 여기</span><i class="ri-youtube-fill main-youtube-logo"></i><i class="ri-arrow-right-line"></i>
			</div>
			<div class="youtube-contents">
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
				<div class="youtube-each-contents">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>

